# Database Connection String
# For Cloud PostgreSQL (Supabase / Neon / Render / AWS RDS):
# DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@[YOUR-HOST]:5432/[YOUR-DB-NAME]

# For Local SQLite (Default):
DATABASE_URL=sqlite:///./journal.db

# JWT Secret Key
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
